.addFavoriteButton {
  position: relative;
  width: 50px;
  line-height: 35px;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 50px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: #248a50;
  color: #ecf0f1;
  transition: background-color 0.3s;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
}

.addFavoriteButton:hover,
.addFavoriteButton:focus {
  background-color: #27ae60;
}

.addToDailyWorkout {
  margin-top: 20px;
  background-color: #402263;
  border-radius: 50px;
  width: 220px;
  height: 40px;
  color: #ecf0f1;
  font-size: 18px;
}

.addFavoriteButton > * {
  position: relative;
}

.addFavoriteButton span {
  display: block;
  padding: 12px 24px;
}

.addFavoriteButton:before {
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 0;
  padding-top: 0;

  border-radius: 100%;

  background-color: rgba(236, 240, 241, 0.3);

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.addFavoriteButton:active:before {
  width: 120%;
  padding-top: 120%;

  transition: width 0.2s ease-out, padding-top 0.2s ease-out;
}

